# Ignore object files but save obj directory
obj/*
!obj/.gitkeep

# Ignore binaries but save bin directory
bin/*
!bin/.gitkeep

# Ignore saved games but keep the save files directory
data/savegames/*
!bin/savegames/.gitkeep